/* TIC TAC TOE GAME BOARD STYLE */
.game {
  margin: auto;
  margin-bottom: 100px;
  width: 350px;
  height: 350px;
  padding-left: 15px;


}
/* TTTR = TIC TAC TOE ROW 1,2,3 */
#tttr1 > div,
#tttr2 > div,
#tttr3 > div {
  width: 100px;
  height: 100px;
  background-color: #2C3539;
  float: left;
  border: 3px solid #FFFFFF;
  font-size: 80px;
  text-align: center;
  color: #FFFFFF;
}

/* CLEAR BOARD BUTTON*/
button {
  color: #000000;
  border: 2px solid #000000;
  font-size: 24px;
  border-radius: 100px;
}
.row {
  clear: both;
}

#announce-winner {
  clear: both;
  font-size: 30px;
  color: #FFFFFF;

}

/* INDIVIDUAL BOX EDITS */
#zero {border-top: 0px; border-left: 0px;}
#one {border-top: 0px;}
#two {border-top: 0px; border-right: 0px;}
#three {border-left: 0px;}
#five {border-right: 0px;}
#six {border-left: 0px; border-bottom: 0px;}
#seven {border-bottom: 0px;}
#eight {border-bottom: 0px; border-right: 0px;}

/*MOBILE COMP*/
@media screen and (max-width: 320px) {
  .game {

  }
}
@media screen and (min-width: 321px) {
  .game {
    padding-left: 45px;
  }
}
