/* TIC TAC TOE GAME BOARD STYLE */
.game {
  margin: auto;
  margin-bottom: 100px;
  width: 350px;
  height: 350px;
  padding-left: 15px;

}

.headshot {
  border: 2px solid grey;
  border-radius: 360px;
}
.gamesection {
  background-image: url("https://ak5.picdn.net/shutterstock/videos/17685085/thumb/1.jpg");
  width: 300px;
  height: 300px
}
/* TTTR = TIC TAC TOE ROW 1,2,3 */
#tttr1 > div,
#tttr2 > div,
#tttr3 > div {
  width: 100px;
  height: 100px;

  float: left;

  font-size: 80px;
  text-align: center;
  color: #FFFFFF;
  box-shadow: 10px 10px 5px #000;
}

/* CLEAR BOARD BUTTON*/
button {
  color: #000000;
  border: 2px solid #000000;
  font-size: 24px;
  border-radius: 100px;
}
.row {
  clear: both;
}
.spingame {
  margin: auto;
  margin-bottom: 100px;
  width: 350px;
  height: 350px;
  padding-left: 15px;
  -webkit-animation: spin 0.1s 6 linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

#announce-winner {
  clear: both;
  font-size: 30px;
  color: #FFFFFF;

}

/* INDIVIDUAL BOX EDITS */
#zero {border-right: 2px solid white; border-bottom: 2px solid white; }
#one { border-right: 2px solid white; border-bottom: 2px solid white; border-left: 2px solid white;}
#two {border-bottom: 2px solid white; border-left: 2px solid white;}
#three {border-top: 2px solid white; border-right: 2px solid white; border-bottom: 2px solid white;}
#four {border-top: 2px solid white; border-right: 2px solid white; border-bottom: 2px solid white; border-left: 2px;}
#five {border-top: 2px solid white; border-bottom: 2px solid white; border-left: 2px solid white;}
#six {border-top: 2px solid white; border-right: 2px solid white; }
#seven {border-top: 2px solid white; border-right: 2px solid white; border-left: 2px solid white;}
#eight {border-top: 2px solid white;  border-left: 2px solid white;}

/*MOBILE COMP*/
@media screen and (max-width: 320px) {
  .game {

  }
}
@media screen and (min-width: 321px) {
  .game {
    padding-left: 45px;
  }
}
